# JWT Authentication Secret Key (Insecure default provided for reference only, change in production)
JWT_SECRET=YOUR_JWT_SECRET_KEY

# Database Configuration
DB_USERNAME=postgres
DB_PASSWORD=postgres
